<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Liste des tickets</h1>    

    <h2>Ajouter un ticket</h2>
    <form action="/tickets" method="POST">
        <div>
        <label for="titre">Titre</label>
        <input type="text" name="titre" id="titre">
        </div>
        <div>
        <label for="auteur">Auteur</label>
        <input type="text" name="auteur" id="auteur">
    </div>
    <div>
        <label for="description">Description</label>
        <input type="text" name="description" id="description">
    </div>
        <button type="submit">Ajouter</button>
    </form>

        <% tickets.forEach(ticket => { %>
            <div>
                <h2><a href="/ticket/<%= ticket.id %>"><%= ticket.titre %></a></h2>
                <h3><%= ticket.auteur %></h3>
                <p><%= ticket.date_creation.toLocaleDateString("fr-FR", {hour: "2-digit", minute:"2-digit", second:"2-digit"}); %></p>
                <p><%= ticket.description %></p>
                <p><%= ticket.etat %></p>
            </div>
        <% }) %>

</body>
</html>